/* body{
	background-color: #004c66;
} */
nav {
  font-size: 2rem;
  height: 150px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background-color: #4CAF50;
}
nav>a{
  font-size: 3rem;
  font-weight: bold;
  padding: 20px 20px;
  width: auto;
  height: 50px;
  margin-top: 30px;
  border: 1px solid #4CAF50;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
nav>a:focus{
  border: 1px solid #3d8f40;
  border-radius: 10px;
  background-color: #3d8f40;
}
h2{
  font-size: 3rem;
  text-align: center;
}
.title{
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 12px;
}
.body{ 
  transition: all 0.5s;
  margin-left: 22px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 0.9rem;
}
.avatar{
  margin-top: 10px;
}
.userList{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-self: center;
}
.postList{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-self: center;
}
li{
  list-style-type: none;
}
.user{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 250px;
  display: flex;
  flex-flow: wrap column;
  align-self: stretch;
  border: 2px solid black;
}
.commentsOnPost{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  margin-right: 20px;
  margin-left: 20px;
  border: 2px solid black;
  transition: all 0.5s;
}
.commentsOnPost:hover{
  transform: translateY(-10px);
}
.comment{
  margin-right: 20px;
}
aside{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-self: stretch;
}
.post{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 250px;
  display: flex;
  flex-flow: wrap column;
  align-self: stretch;
  border: 2px solid black;
  transition: all 0.5s;
}
.post:hover{
  transform: translateY(-10px);
}
.view{
  margin-left: 20px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}
.content{
  margin-left: 20px;
  display: flex;
  align-content: center;
  align-self: flex-start;
  flex-flow: wrap column;
}
.name{
  margin-top: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.email{
  margin-top: 3px;
  font-weight: 300;
  opacity: 90%;
}
.address{
  margin-top: 20px;
  display: flex;
  flex-flow: wrap column-reverse;
}
.mainInfo{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.zipcode{
  font-weight: bold;
}
.catchPhrase{
  font-style: italic;
}
.phone{
  font-weight: bold;
}
.userBtn{
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 14px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.5s;
}
.postBtn{
  margin-top: -5px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.5s;
}
.postBtn:hover{
  background-color: #3d8f40;
  cursor: pointer;
}
.userBtn:hover{
  background-color: #3d8f40;
  cursor: pointer;
}
.info{
  margin-right: 10px;
  margin-top: 5px;
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 50%;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s;
}
.info:hover{
  background-color: #3d8f40;
  cursor: pointer;
}
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(248, 3, 3, 0.815); }
@media only screen and (max-width: 768px){
  nav>a{
    font-size: 2rem;
    padding: 10px 10px;
  }
}